body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('mainlogins.jpeg'); /* Replace 'background.jpg' with your image */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 60px;
    border-radius: 50px;
    text-align: center;
}

.buttons button {
    padding: 30px 40px;
    margin: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #06D001;
    color: white;
}

.buttons button:hover {
    background-color: #F29727;
    color:white;
}

.buttons button:focus {
    outline: none;
}
