$white: #ffffff;
$black: #000000;
$primary1: #000f3c;
$primary2: #ff5e14;

// import fonts

// fontAwesome
@import url("font-awesome.min.css");

@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin second-font {
  font-family: "Poppins", sans-serif;
}

// btn style
@mixin hero_btn($col1, $col2, $pad1, $pad2) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  color: $col2;
  transition: all 0.3s;
  border: 1px solid transparent;

  &:hover {
    background-color: transparent;
    border-color: $col1;
    color: $col1;
  }
}

//  end btn style
@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;

  h2 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;

    &::before {
      content: "";
      width: 40px;
      height: 7px;
      background-color: $primary2;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &.heading_center {
    align-items: center;
    text-align: center;

    h2 {
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

/*header section*/
.hero_area {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

}

.hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.35));
  }
}

.sub_page {
  .hero_area {
    min-height: auto;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding-bottom: 21px;
  }
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  padding: 0;

  .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }

  .nav_container {
    margin: 0 auto;
  }
}

.header_top {
  padding: 15px 0;

  .contact_link-container {
    display: flex;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      color: $white;
      font-size: 15px;

      i {
        font-size: 20px;
        color: $primary2;
        margin-right: 5px;
      }
    }
  }
}

.header_bottom {
  background-color: rgba($color: $primary1, $alpha: .7);
}

#navbarSupportedContent {
  justify-content: space-between;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;

  .navbar-nav {
    margin-left: auto;

    .nav-item {
      .nav-link {
        padding: 0;
        padding: 35px 15px 10px 15px;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        transition: all .2s;
      }

      &.active {
        .nav-link {
          background-color: $primary2;

        }
      }

      &:hover:not(.active) .nav-link {
        color: $primary2;
      }
    }
  }

}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-weight: bold;
    color: $white;
    font-size: 24px;
  }
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;

  span {
    display: block;
    width: 32px;
    height: 4px;
    background-color: $white;
    border-radius: 15px;
    margin: 7px 0;
    transition: all 0.3s;
    position: relative;
    transition: all 0.3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $white;
      border-radius: 15px;
      top: -10px;
      transition: all 0.3s;
    }

    &::after {
      top: 10px;
    }
  }

  &[aria-expanded="true"] {
    transform: rotate(360deg);

    span {
      transform: rotate(45deg);

      &::before,
      &::after {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }

}


/*end header section*/

/* slider section */
.slider_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;

  .row {
    align-items: center;
  }

  .detail-box {
    width: 100%;
    margin: 0 auto;

    h1 {
      text-transform: uppercase;
      font-size: 3rem;
      color: $white;
      font-weight: 600;

      span {
        color: $primary2;
      }
    }

    p {
      margin-top: 25px;
    }

    .btn-box {
      display: flex;
      margin-top: 30px;

      a {
        width: 180px;
        text-align: center;
        margin: 5px;
      }

      .btn-1 {
        @include hero_btn($white, $black, 10px, 35px);
      }

      .btn-2 {
        @include hero_btn($primary2, $white, 10px, 35px);
      }
    }
  }

  .img-box {
    display: flex;

    img {
      width: 100%;
    }
  }

  #carouselExampleIndicators {
    margin-top: 45px;
    position: relative;

    .carousel-inner {
      .carousel-item {
        img {
          width: 100%;
        }
      }
    } // end carousel-inner
  }

  .idicator_container {
    position: relative;
  }

  ol.carousel-indicators {
    margin: 0;
    bottom: -75px;
    justify-content: flex-end;

    li {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      text-align: center;
      background-color: $primary2;
      opacity: 1;
      border: none;
      margin: 0 4px;

      &.active {
        background-color: $white
      }
    }
  }
}

// end slider section

// service section

.service_section {
  .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 45px;

    &.b2 {
      flex-direction: column-reverse;
    }

    .img-box {
      img {
        width: 100%;
      }
    }

    .detail-box {
      padding: 15px;
      min-height: 265px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $white;
      background-color: $primary1;

      h5 {
        font-weight: bold;
        text-transform: uppercase;
      }

      a {
        color: $primary2;
      }
    }
  }
}

// end service section

// about section

.about_section {
  .row {
    align-items: center;
  }

  .img-box {
    display: flex;
    flex-direction: column;

    img {
      width: 85%;
      // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    }

    .about_img2 {
      margin-left: auto;
      margin-top: -75px;
      border-top: 15px solid $white;
      border-left: 15px solid $white;
    }
  }

  .detail-box {
    position: relative;

    p {
      margin-top: 5px;
    }

    a {
      @include hero_btn($primary2, $white, 10px, 35px);
      text-transform: uppercase;
    }
  }


}

// end about section

// quote container

.quote_container {
  position: relative;
  color: $white;
  text-align: center;

  .bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba($color: $primary1, $alpha: .7), rgba($color: $primary1, $alpha: .65));
    }
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  a {
    @include hero_btn($primary2, $white, 10px, 55px);
  }
}

// end qoute container

// client section
.client_section {
  #carouselExampleControls {
    padding: 0 10%;
  }

  .box {
    display: flex;
    margin-top: 45px;
    background: $primary1;
    color: $white;
    padding: 25px;

    .img-box {
      width: 145px;
      min-width: 145px;
      margin-right: 20px;

      img {
        width: 100%;
      }
    }

    .detail-box {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      h4 {
        font-weight: bold;
        font-size: 18px;
      }

      p {
        font-size: 15px;
        margin-top: 10px;
      }
    }
  }

  .carousel_btn-box {
    display: flex;
    justify-content: center;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    border: none;
    opacity: 1;
    background-color: $primary1;
    color: $white;
    border-radius: 100%;
    transform: translateY(-50%);
    font-size: 18px;

    &:hover {
      background-color: $primary2;
    }
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    left: initial;
    right: 0;
  }
}

// end client section

// blog section
.blog_section {
  .heading_container {
    align-items: center;

    h2 {
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .box {
    margin-top: 45px;
    box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: .4);
    padding: 25px;

    .img-box {
      position: relative;


      img {
        width: 100%;
      }
    }


    .detail-box {
      margin-top: 15px;

      .blog_date {
        color: $primary1;
        font-weight: 600;
      }

      h5 {
        font-weight: bold;
      }

      p {
        font-size: 15px;
      }

      a {
        @include hero_btn($primary2, $white, 7px, 30px);
      }
    }
  }
}

// end blog section
// info section
.info_section {
  background-color: $primary1;
  color: $white;
  padding: 75px 0 10px 0;

  .row>div {
    margin-bottom: 25px;
  }

  h5 {
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 24px;
  }

  .info_logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .navbar-brand {
      padding: 0;
      margin-bottom: 20px;

      span {
        font-size: 24px;
        color: $white;
      }
    }
  }

  .info_links {

    ul {
      padding: 0;

      li {
        list-style-type: none;

        a {
          color: $white;
        }
      }
    }
  }

  .info_contact {
    display: flex;
    flex-direction: column;

    a {
      color: $white;
      margin-bottom: 10px;

      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }
  }

  .info_form {
    form {
      input {
        outline: none;
        border: none;
        width: 100%;
        padding: 7px 10px;
      }

      button {
        padding: 8px 35px;
        outline: none;
        border: none;
        color: $white;
        background: $primary2;
        margin-top: 15px;
        text-transform: uppercase;
      }
    }

    .social_box {
      margin-top: 25px;
      width: 100%;
      display: flex;

      a {
        margin-right: 10px;
        color: $white;
        font-size: 20px;
      }
    }
  }

}

// end info section





/* footer section*/

.footer_section {
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: $primary1;
}

.footer_section p {
  color: rgba($color: #fefeff, $alpha: .7);
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: rgba($color: #fefeff, $alpha: .7);
}

/* end footer section*/